* {
  padding: 0;
  margin: 0;
}

/*----- VARIABILI -----*/

:root {
  --fontsize-menu: 1.1rem;
  --colore-pulsante-premuto: rgb(243, 244, 246);
  --clore-testo-header: rgb(75, 85, 99);
  --colore-testo-carosello: black;
  --colore-testo-descrizione: white;
  --fontsize-carosello-titolo: 2.5rem;
  --fontsize-carosello-descrizione: 1.125rem;
  --colore-carosello-indicatore: rgb(59, 130, 246);
  --fontsize-titolo: 3rem;
  --fontsize-descrizione: 1.125rem;
  --colore-chi-siamo: rgb(59, 130, 246);
  --colore-testo-nero: black;
  --fontsize-icone-prodotti: 40px;
  --colore-servizi: rgb(217, 52, 43);
  --colore-hardware: rgb(234, 179, 8);
  --colore-software: rgb(24, 138, 66);
  --fontsize-testo-partners: 1.5rem;
  --fontweight-bold: 700;
}

/*----- GENERALI -----*/

body {
  font-family: "Montserrat", sans-serif;
}

h2 {
  margin-block-end: unset;
}

ul {
  margin-bottom: unset;
  padding-left: unset;
}

li {
  list-style: none;
}

a {
  text-decoration: unset;
  color: unset;
}

p {
  margin-bottom: unset;
}

footer {
  margin-top: unset !important;
}

/*----- HEADER -----*/

header .contenitore-header {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  color: var(--clore-testo-header);
}

header .logo img {
  height: 70px;
  width: auto;
}

header .menu {
  display: flex;
  font-size: var(--fontsize-menu);
}

header .menu-fisso {
  position: sticky;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1000;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  left: 50%;
  transform: translateX(-50%);
}

header .menu li {
  display: inline-block;
  padding: 0;
}

header .menu a {
  display: block;
  padding: 7px 20px;
}

header nav {
  display: flex;
  align-items: center;
}

header .menu a:hover {
  background-color: var(--colore-pulsante-premuto);
  border-radius: 7px;
}

header .menu i {
  margin-right: 15px;
}

header .sottomenu i {
  margin-right: 10px;
}

header .freccia-sottomenu {
  margin-left: 20px;
}

header .sottomenu {
  position: absolute;
  left: 0;
  top: 100%;
  border-color: rgb(75, 85, 99);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 12px 0px;
  border-radius: 7px;
  padding: 10px 0;
  display: none;
  z-index: 3;
  background-color: white;
}

header .sottomenu li {
  width: 100%;
}

header .contenitore-sottomenu {
  position: relative;
}

header .contenitore-sottomenu:hover > a {
  color: rgb(50, 111, 209);
  background-color: rgb(239, 246, 255);
  border-radius: 7px;
}

header .menu a.active {
  background-color: var(--colore-pulsante-premuto);
  border-radius: 7px;
}

header .contenitore-sottomenu:hover .sottomenu {
  display: block;
}

/* menu hamburger */

header .menu-hamburger {
  display: none;
  font-size: 30px;
  padding: 10px;
}

/*----- MAIN -----*/

main {
  margin-top: 140px;
}

main .contenitore-main {
  padding: 0 0;
  margin-bottom: 50px;
  margin-top: 50px;
}

/*----- pagina home -----*/

/* carosello */

main .carousel {
  padding: 50px 0;
  background-image: url(img/bg.jpg);
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}

main .carousel-item img {
  height: 200px;
  width: auto;
}

main .carousel-item {
  text-align: center;
}

main .carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: black;
}

main .carousel-caption {
  color: var(--colore-testo-carosello);
}

main .carousel-indicators button {
  background-color: var(--colore-carosello-indicatore) !important;
  height: 8px !important;
}

main .carousel h5 {
  font-size: var(--fontsize-carosello-titolo);
  margin: 26px 0;
}

main .descrizione-carosello {
  width: 50%;
  display: flex;
  font-size: var(--fontsize-carosello-descrizione);
  margin: 26px auto;
}

main .carousel-item {
  transition: transform 0.8s ease-in-out, opacity 0.8s ease-in-out;
}

main .carousel-item-next,
main .carousel-item-prev {
  display: block;
}

/*----- pagina azienda -----*/

/* chi siamo, servizi, hardware, software */

main {
  position: relative;
}

main section {
  position: relative;
}

main .descrizione-azienda section {
  display: flex;
}

main .descrizione-azienda section div {
  width: 50%;
  height: 100%;
  margin: auto;
}

main .descrizione-azienda .descrizione {
  padding: 50px 30px;
}

main .descrizione h2 {
  font-size: var(--fontsize-titolo);
}

main .descrizione p {
  font-size: var(--fontsize-descrizione);
  color: var(--colore-testo-descrizione);
}

main .colore {
  background-color: var(--colore-chi-siamo);
  content: " ";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 0;
  left: 0;
}

main .colore2 {
  background-color: var(--colore-servizi);
  content: " ";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 0;
  right: 0;
}

main .colore3 {
  background-color: var(--colore-hardware);
  content: " ";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 0;
  left: 0;
}

main .colore4 {
  background-color: var(--colore-software);
  content: " ";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 0;
  right: 0;
}

main .descrizione-immagine img {
  width: 100%;
  height: auto;
}

main .inverti {
  flex-direction: row-reverse;
}

main .hardware p {
  color: black !important;
}

/* prodotti */

main .prodotti {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 80px 0;
}

main .prodotti h2 {
  margin-bottom: 45px;
  font-weight: var(--fontweight-bold);
  font-size: var(--fontsize-titolo);
}

main .margine {
  margin-bottom: 45px;
}

main .prodotti-singoli {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  font-size: var(--fontsize-icone-prodotti);
}

main .prodotti-singoli div {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 12px 0px;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  padding: 30px;
}

main .colore-blu {
  color: var(--colore-chi-siamo);
}

main .colore-giallo {
  color: var(--colore-hardware);
}

main .colore-verde {
  color: var(--colore-software);
}

main .colore-rosso {
  color: var(--colore-servizi);
}

/* referenze */

main .referenze {
  margin-bottom: 80px;
}

main .referenze-singole {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  margin: 0 auto;
}

main .referenze h2,
.partners h2 {
  text-align: center;
  font-weight: var(--fontweight-bold);
  font-size: var(--fontsize-titolo);
  margin-bottom: 45px;
}

main .referenza {
  width: 300px;
  height: 200px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 12px 0px;
  border-radius: 7px;
  overflow: hidden;
  position: relative;
  display: flex;
}

main .referenza img {
  width: 100%;
  height: 100%;
}

main .collegamento-referenza {
  position: absolute;
  bottom: -100%;
  left: 0;
  right: 0;
  background-color: rgb(255, 255, 255, 0.5);
  text-align: center;
  padding: 10px;
  transition: 0.4s ease;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.referenza:hover .collegamento-referenza {
  bottom: 0;
  background-color: rgb(255, 255, 255, 1);
}

main .referenza h3 {
  font-size: var(--fontsize-testo-partners);
  font-weight: var(--fontweight-bold);
}

main .referenza p {
  color: rgb(50, 111, 209);
}

/* partners */

main .partners {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 295px;
  overflow: hidden;
}

main .lista-partners {
  display: flex;
  gap: 30px;
  animation: scroll-left 15s linear infinite;
  position: absolute;
  left: 110%;
  bottom: 0;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-200%);
  }
}

/*----- pagina contatti -----*/

main .contatti {
  display: flex;
  justify-content: space-evenly;
}

main .contatti h3 {
  text-align: center;
  font-weight: var(--fontweight-bold);
  font-size: var(--fontsize-titolo);
  margin-bottom: 45px;
}

main .recapiti {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

main .recapiti i {
  margin-right: 10px;
  font-size: 24px;
}

main .recapiti a {
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: var(--fontsize-descrizione);
  margin-bottom: 18px;
}

main .mappa-azienda {
  width: 100%;
  height: 300px;
}

/* form */

main .tipologia-form {
  display: flex;
  margin-bottom: 25px;
}

main .contattaci {
  padding-left: 50px;
}

main .tipologia-form a {
  width: 50%;
  padding-bottom: 20px;
  padding-left: 20px;
  font-size: var(--fontsize-descrizione);
  font-weight: var(--fontweight-bold);
  cursor: pointer;
}

main .contenitore-form form {
  display: flex;
  flex-direction: column;
}

main .campi-multipli {
  display: flex;
}

main .campi-multipli select {
  width: 50%;
}

main form input,
main form select {
  margin: 10px 20px;
  padding: 12px;
  border-radius: 7px;
  border: solid 1px;
  border: solid 1px rgb(209, 213, 219);
}

main form input:focus,
main form select:focus {
  outline: none;
  border: solid 1px rgb(50, 111, 209);
  box-shadow: rgb(50, 111, 209) 0px 2px 12px 0px;
}

main .campi-multipli input {
  width: 50%;
}

main form input:hover {
  border: solid 1px rgb(50, 111, 209);
}

main form .bottone {
  background-color: rgb(184, 209, 251);
  color: white;
  font-size: var(--fontsize-descrizione);
  font-weight: var(--fontweight-bold);
}

main .form-aziende {
  color: rgb(50, 111, 209);
  border-bottom: solid 2px rgb(50, 111, 209);
}

main .form-privati {
  color: var(--clore-testo-header);
  border-bottom: solid 2px var(--clore-testo-header);
}

main .contenitore-form-privati {
  display: none;
}

/*----- pagina manutenzione -----*/

main .manutenzione {
  text-align: center;
}

main .manutenzione h2 {
  font-size: var(--fontsize-titolo);
  font-weight: var(--fontweight-bold);
}

main .manutenzione p {
  font-size: var(--fontsize-descrizione);
}

main .contenitore-immagine {
  margin-top: 50px;
  margin-bottom: 50px;
}

main .manutenzione img {
  width: 30%;
  height: auto;
}

main .reindirizzamenti .reindirizzamenti-contatti {
  background-color: rgb(50, 111, 209);
  color: white;
  padding: 10px 20px;
  border-radius: 7px;
  font-size: var(--fontsize-descrizione);
  font-weight: var(--fontweight-bold);
}

main .reindirizzamenti .reindirizzamenti-mail {
  color: rgb(50, 111, 209);
  font-size: var(--fontsize-descrizione);
  border-bottom: solid 1px rgb(50, 111, 209);
  margin-left: 20px;
}

/*----- FOOTER -----*/

footer .contenitore-footer {
  padding: 0 0;
}

footer {
  padding: 30px 0;
  border: solid 2px var(--colore-pulsante-premuto);
  margin-top: 10px;
}

footer .logo {
  text-align: center;
}

footer .logo img {
  height: 115px;
  width: auto;
}

footer .ragione-sociale {
  text-align: center;
}

footer .dati-azienda {
  margin-top: 20px;
}

footer .logo-dati div {
  margin-bottom: 20px;
}

footer .socials {
  font-size: 24px;
  display: flex;
  justify-content: center;
  gap: 15px;
  border-top: solid 2px var(--colore-pulsante-premuto);
  padding-top: 30px;
}

footer .socials a {
  padding: 20px;
}

footer .nome-azienda {
  font-weight: var(--fontweight-bold);
}

footer .linkedin {
  color: rgb(50, 111, 209);
}

footer .mail {
  color: brown;
}

/*----- RESPONSIVE -----*/

@media (max-width: 991px) {
  /*----- header  -----*/

  header .menu-hamburger {
    display: block;
    position: relative;
  }

  header .menu {
    display: none;
    position: absolute;
    flex-direction: column;
    top: 100%;
    background-color: white;
    width: 100vw;
    left: 0;
  }

  header .freccia-sottomenu {
    position: absolute;
    right: 0;
  }

  /*----- main -----*/

  /* pagina home */

  main .descrizione-carosello {
    margin: unset;
    width: 100%;
  }

  /* pagina azienda */

  main .descrizione-azienda section {
    flex-direction: column !important;
  }

  main .descrizione-azienda .descrizione {
    width: 100%;
  }

  main .descrizione-azienda section div {
    width: 100%;
  }

  /* pagina contatti */

  main .contatti {
    flex-direction: column;
  }

  main .col-4,
  main .col-8 {
    width: 100%;
  }

  main .recapiti {
    width: 50%;
    margin-left: auto;
    transform: translateX(-50%);
  }

  main .contattaci {
    padding-left: unset;
  }

  main .campi-multipli {
    flex-direction: column;
  }

  main .campi-multipli input {
    width: 100%;
  }

  main .campi-multipli select {
    width: 100%;
  }

  main form input,
  main form select {
    margin: 10px 0px;
  }

  main .contenitore-form form {
    padding: 0 25px;
  }
}
